@import "styles/colors";
@import "styles/sizes";

.container {
    min-width: 100vw;

    background: $darkBlack;
    color: $white;

    .width {
        max-width: $contentWidth;
        margin: auto;
        min-height: 100vh;
        padding: $smallOffset $mediumOffset;

        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}