@import "src/styles/colors";
@import "src/styles/sizes";

.container {
    span {
        font-size: .7em;
        color: $lightGray;
        padding: 0 $smallOffset;
    }

    .price {
        font-size: 1em;
    }
    .discount {
        .original {
            display: flex;
            align-items: center;
            font-size: .7em;
            color: $lightGray;
            margin-bottom: $smallOffset;
        }

        .amount {
            color: $markOrangeLight;
            font-size: 1em;
        }
    }
}