@import "src/styles/sizes";
@import "src/styles/colors";

.container {
    width: 240px;
    padding: $mediumOffset;
    background: lighten($darkBlack, 2);
    border-radius: $mediumOffset;

    .head {
        display: flex;
        justify-content: space-between;
        margin-top: $smallOffset;
        .article {
            font-size: 12px;
            color: $lightGray;
        }
        .brand {
            font-size: 12px;
        }
    }
    .title {
        padding: $mediumOffset 0;
        display: inline-flex;
    }
    .price {
        span {
            font-size: 12px;
            color: $lightGray;
        }
    }
    .addToCardButton {
        margin-top: $mediumOffset;
        padding: $mediumOffset;
        width: 100%;
    }
}