@import "../../../../styles/sizes";

.container {
    width: 100%;

    .slide {
        height: 100%;
        border-radius: $smallOffset;

        img {
            border-radius: $mediumOffset;
        }

        &.empty {

        }
    }
}