@import "../../../../styles/sizes";

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .info {
        align-items: center;
    }

    .image {
        border-radius: $mediumOffset;
    }
}