@import "../../../styles/colors";
@import "../../../styles/sizes";

.container {
    padding: $smallOffset;
    background: $lightBlack;
    color: $black;
    display: inline-flex;

    text-transform: uppercase;
    font-size: 12px;
}