@import "src/styles/sizes";

.container {
    border-radius: 50%;
    width: $mediumSmallHeight;
    height: $mediumSmallHeight;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    .icon {
        width: 60%;
    }
}