@import "src/styles/sizes";

.container {
    display: flex;

    .amount {
        width: 40px;
        padding: $smallOffset;
        text-align: center;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
}